https://www.perplexity.ai/search/b99dd1ac-2d40-4f7d-ba29-2972671abf18

In [ ]:
import numpy as np

np.random.seed(22)
scores = np.random.randint(50, 101, size=(50,5))
scores

In [ ]:
import pandas as pd

df = pd.DataFrame(scores,columns=["國文","英文","數學","生物","物理"],index=[f"學生{x}" for x in range(1,51)])
#設定表格每一欄、每一列的名稱
type(df) #df是DataFrame的實體

In [ ]:
[x**2 for x in range(10) if x< 4]

In [ ]:
df.columns.name = "科目" #設定欄資料名稱。DataFrame實體當中，有columns實體，columns實體屬性name。
df.index.name = "姓名" #設定列資料名稱
df

In [ ]:
sum_series = df["國文"] + df["英文"] + df["數學"] + df["生物"] + df["物理"]
average_series = sum_series / 5
average_series

In [ ]:
df["總分"] = sum_series
df["平均"] = average_series
df

In [ ]:
import numpy as np
import pandas as pd

np.random.seed(1234)
scores = np.random.randint(50, 101, size=(50, 5))
students = pd.DataFrame(scores,
            index=[f'學生{num}' for num in range(1,51)],
            columns=["國文","英文","數學","生物","物理"])
students

In [ ]:
students["國文"] #叫出一欄是Series物件
students[["國文","數學"]] #叫出兩欄變成DataFrame

In [ ]:
sum_series = np.sum(students,axis=1) #可以直接使用numpy的函式進行計算
average_series = np.mean(students,axis=1)
average_series

In [21]:
students_finish = students.copy() #創造另一個實體。如果沒有括號，直接指定另一個變數，兩變數會指向同一個實體。
students_finish["總分"] = sum_series
students_finish["平均"] = average_series
students_finish

      國文   英文   數學   生物   物理   總分    平均
學生1   97   69   88   62   74  390  78.0
學生2   65   99   73   91   76  404  80.8
學生3   80   93   80   94   76  423  84.6
學生4   98   78   55   66   59  356  71.2
學生5   97  100   98   62   87  444  88.8
學生6   84   88   53   89   61  375  75.0
學生7   50   91   61   66   53  321  64.2
學生8   52   69   62   51   61  295  59.0
學生9   93   67   64   57   92  373  74.6
學生10  93   96   78   67   73  407  81.4
學生11  63   82   62   55   99  361  72.2
學生12  81   87   81   75   70  394  78.8
學生13  95   66   91   58   94  404  80.8
學生14  56   72   94   76   69  367  73.4
學生15  97   99   68   71   96  431  86.2
學生16  84   87   95   88   57  411  82.2
學生17  86   53   55   96   97  387  77.4
學生18  97   65   84   60   78  384  76.8
學生19  54   68   89   75   93  379  75.8
學生20  64   73  100   70   91  398  79.6
學生21  50   84   76   83  100  393  78.6
學生22  99   71   57   54   89  370  74.0
學生23  67   50   71   91  100  379  75.8
學生24  91   51   64   53   80  339  67.8
學生25  62   59   95   69   76  361  72.2
學生26  82   54   86   50   72  344  68.8
學生27  70   58   94   99   74  395  79.0
學生28  80   91   65   58   52  346  69.2
學生29  66   93   52  100   65  376  75.2
學生30  53   96   84   86   74  393  78.6
學生31  83   92   52   73   95  395  79.0
學生32  70   85   68   62   55  340  68.0
學生33  67   66   58   95   61  347  69.4
學生34  65   70   66   50   99  350  70.0
學生35  82   69   99   69   77  396  79.2
學生36  73   91   85   86   70  405  81.0
學生37  78   51   61   67   80  337  67.4
學生38  88   84   75   89   74  410  82.0
學生39  62   62   82   58   97  361  72.2
學生40  73   75   95   71   72  386  77.2
學生41  95   69   91   97   86  438  87.6
學生42  89   89   67   89   68  402  80.4
學生43  87   84   73  100   88  432  86.4
學生44  58   67   91   97   69  382  76.4
學生45  93   94   85   92   70  434  86.8
學生46  76   75   93   73   52  369  73.8
學生47  90   51   75   77   64  357  71.4
學生48  54   77   92   53   67  343  68.6
學生49  97   82   63   98   91  431  86.2
學生50  80   85   69   98   59  391  78.2

In [ ]:
#由index開始選取
students_finish.loc["學生1"] #利用索引
students_finish.loc[["學生1","學生3"]] #利用索引
students_finish.loc["學生1":"學生10"] #slicing切割
students_finish.loc["學生1":"學生10","國文":"物理"]
students_finish.iloc[:10,:5] #第一項是列，第二項是欄

      國文   英文  數學  生物  物理
學生1   97   69  88  62  74
學生2   65   99  73  91  76
學生3   80   93  80  94  76
學生4   98   78  55  66  59
學生5   97  100  98  62  87
學生6   84   88  53  89  61
學生7   50   91  61  66  53
學生8   52   69  62  51  61
學生9   93   67  64  57  92
學生10  93   96  78  67  73

# 修改DataFrame資料要留意，程式碼如何作用，對誰進行作用

In [ ]:
student1 = students_finish.loc["學生1"] #利用索引。要注意這並不會創造另一個實體。
#這是拉一個視圖出來view，而沒有建立另一個實體。原本的DataFrame不會被修改。

student1["國文"] = 100 # 賦值
#執行賦值的時候，系統會建立一個DataFrame，而不會修改到原本students_finish當中的數值。

C:\Users\User\AppData\Local\Temp\ipykernel_12156\1237705721.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  student1["國文"] = 100 # 賦值

In [35]:
students10 = students_finish.iloc[:10].copy() #複製DataFrame的資料，創造另一個實體。
students10.loc["學生1","國文"] = 100 #指定資料當中欄跟列的位置，並賦值。會修改實體的數字。
students10

       國文   英文  數學  生物  物理   總分    平均
學生1   100   69  88  62  74  390  78.0
學生2    65   99  73  91  76  404  80.8
學生3    80   93  80  94  76  423  84.6
學生4    98   78  55  66  59  356  71.2
學生5    97  100  98  62  87  444  88.8
學生6    84   88  53  89  61  375  75.0
學生7    50   91  61  66  53  321  64.2
學生8    52   69  62  51  61  295  59.0
學生9    93   67  64  57  92  373  74.6
學生10   93   96  78  67  73  407  81.4